<!-- views/post.ejs -->
<html>
<head>
  <title>Post <%= postInfo.title %></title>
</head>
<body>
  <h1><%= postInfo.title %></h1>
  <p><%= postInfo.description %></p>
  <!-- Add more content as needed -->
</body>
</html>
